body {
    background-image: url('../images/shutterstock_96325322.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
}

.transparent-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
}