/* ToDo: make design responsive for phone */

* {
    font-family: 'Catamaran',
        sans-serif;
}

.translucent-form-overlay {
    font-family: 'Catamaran';
    max-width: 400px;
    width: 40vh;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    color: #000000;
}

.translucent-form-overlay .columns.row {
    display: block;
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
    font-family: 'Catamaran';
    color: #000000;

}

h4,
h3 {
    font-family: 'Catamaran';
    /* font-weight:bold; */
}

.translucent-form-overlay input,
.translucent-form-overlay select {
    color: #000000;
}

.translucent-form-overlay input::-webkit-input-placeholder {
    color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
    color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
    color: #000000;
}

.bg-dark {
    background-color: #1a1a1a;
}

.text-light {
    color: #000000;
}

.btn {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: #1a1a1a;
    background-color: #aeaeae;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

body {
    background-image: url('../images/shutterstock_96325322.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.95;
}

#itinerary-btn {
    width: 50%;
    color: black !important;
    font-weight: bold;
    border: 1px solid black;
}

.transparent-text-box {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 50px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
}

.transparent-text-box:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.95;
}

.transparent-text-box h2 {
    color: #1a1a1a;
    font-size: 2rem;
    margin-bottom: 30px;
    height: 630px;
}

.title {
    text-align: center;
}

#start-date-container {
    margin-top: 100px;
}

#search-btn, #clear-page-btn {
    background-color: #4CAF50;
    color: black;

    display: block;
    height: 35px;
    width: 35%;
    color: black !important;
    font-weight: bold;
    margin: 6px auto;
    border: 1px solid black;
}


#search-btn button:hover {
    background-color: #368d39;
}

.search-spinner {
    display: none;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    pointer-events: none;
    opacity: 0.9;
    position: relative;
    
}

.loading .search-spinner {
    display: block;
    margin-left: 70px;
    top:-3px;
  
}

label {
    font-size: 1.3rem;
}

#generate-itinerary {
    width: 100%;
    height: auto;
    overflow: auto;
}

#itinerary-list {
    font-weight: bold;
}

.delete-btn {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50%;
    background-color: transparent;
    color: rgb(255, 0, 0);
    font-weight: bold;
    padding: 5px;
    margin-left: 5px;
}

#itinerary-list li {
    border: 1px solid black;
    padding: 10px;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    .header-content {
        width: 100% !important;
    }
    .main-content {
        width: 100%;
       
    }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    .header-content {
        width: 150% !important;
       
    }
    .main-content {
        width: 100%;
        padding: 10px;
    }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    .header-content {
        width: 100% !important;
    
    }
    .main-content {
        width: 100%;
        padding: 10px;
    }
}
#box-of-prompt-response ul, #box-of-details-for-all-events{
    text-align: left;
    list-style:none;
}

/* the code below was researched and written with the help of google */
.animate-character {
    text-transform: uppercase;
    font-family: 'Cormorant Garamond';
    background-image: linear-gradient(-225deg,
            #5c41bd 0%,
            #66be63 29%,
            #dd5f89 67%,
            #dad787 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    font-size: 75px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
}